

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ctr {
  display: flex;
  align-items: center; /* Centra gli elementi verticalmente */
  justify-content: center; /* Centra gli elementi orizzontalmente */
  height: 30vh; /* Altura dell'intera finestra del browser */
  text-align: center;
  flex-direction: column;
}

.title-container {
  background: radial-gradient(transparent, rgba(4, 140, 124, 0.2)); 
  
  padding: 10px 30px; /* Spazio intorno al testo */
  border-radius: 15px; /* Angoli smussati */
  display: flex;
  align-items: center; 
}
h1 {
  font-size: 3em;
  color: #0066FF; /* Blu come l'acqua della fontana */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  padding-bottom: 10px;
  transition: all 0.3s ease;
  display:inline-block;
}

.logo-side {
  width: 50px; /* puoi regolare le dimensioni del logo come preferisci */
  vertical-align: middle; /* per allinearli verticalmente con l'h1 */
}
h2 {
  font-size: 1.5em;
  color: #048c7c; /* Verde come la base della fontana */
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
/* Map style */
.leaflet-container {
  border: 5px solid #007bff;  /* Un bordo blu di 5px */
  border-radius: 15px;        /* Angoli arrotondati */
  box-shadow: 0 4px 8px #048c7c;  /* Una leggera ombra per dare profondità */
  width: 90% !important;                /* Larghezza a tutto schermo */
  height: 400px !important;              /* Puoi modificare l'altezza come preferisci */
  margin:0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: white;
  box-shadow: 0 2px 4px white;
}

.logo img {
  max-height: 96npm startpx;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: #048c7c;; /* un colore scuro per contrastare con lo sfondo bianco */
  text-decoration: none;
  font-weight: 500; /* un poco più in grassetto per maggiore visibilità */
  transition: color 0.3s;
  padding-bottom: 5px; /* piccolo padding per l'effetto hover */
  position: relative;
}

.links a:hover {
  color: #007bff;/* un colore blu come il logo per l'hover */
}

.links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #007bff; /* un colore blu come il logo */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.search-bar {
  width: 40%;
  display: flex;
  margin: 0 1.5rem;
  margin-left:16%;
}

.search-bar input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; 
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}